<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>cloud</mat-icon>
  </button>
  <span>TERA WEATHER</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" mat-raised-button color="accent">CITIES</button>
  <mat-menu #menu="matMenu">
    <button (click)="getWeatherData(i)" mat-menu-item *ngFor="let i of cities">{{i}}</button>
  </mat-menu>
</mat-toolbar>


<div *ngIf="weatherData" class="row mt-2" style="justify-content: center;">

  <div class="card text-center" style="width: 18rem;">
    <div class="card-header">
      <h1>CURRENT WEATHER</h1>
    </div>
    <div class="card-body">
      <h3 class="card-title"><b>{{weatherData.name}}, {{weatherData.sys.country}}</b></h3>
      <h5><b>Feels like {{weatherData.main.feels_like - 273.15 | number : '1.2-2'}}°C.
          {{weatherData.weather[0].main}}.</b></h5>
      <h5> Current Temperature : {{weatherData.main.temp - 273.15 | number : '1.2-2'}}°C</h5>
      <h5> Minimum Temperature : {{weatherData.main.temp_min - 273.15 | number : '1.2-2'}}°C</h5>
      <h5> Maximum Temperature : {{weatherData.main.temp_max - 273.15 | number : '1.2-2'}}°C</h5>
      <h5> Wind Speed : {{weatherData.wind.speed}}m/s</h5>
      <h5> Visibility: {{weatherData.visibility/1000}}km</h5>
      <h5> Humidity: {{weatherData.main.humidity}}%</h5>
      <h5> Pressure: {{weatherData.main.pressure}}hPa</h5>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <h1>FORECAST WEATHER</h1>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Time</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Visibility</th>
          <th>Humidity</th>
          <th>Pressure</th>
        </tr>
        <tr *ngFor="let i of forecastData.list">
          <td>{{i.dt_txt | date : 'dd MMM, yyyy h:mm a '}}</td>
          <td>{{i.main.temp - 273.15 | number : '1.2-2'}}°C</td>
          <td>{{i.wind.speed}}m/s</td>
          <td>{{i.visibility/1000}}km</td>
          <td>{{i.main.humidity}}%</td>
          <td>{{i.main.pressure}}hPa</td>


        </tr>
      </table>

    </div>
  </div>

</div>